* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100vh;
    width: 100vw;
    background: rgba(39, 48, 72, 0.84);
    display: flex;
    justify-content: center;
    align-items: center;
}

.businessCard {
    height: 70vh;
    width: 40vw;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.businessInfo {
    border-radius: 1em;
    color: white;
    background: linear-gradient(to right, rgba(255, 0, 0, .9), rgba(0, 0, 255, 0.8));
    height: 80%;
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 0 .5em 0 .5em;
}

.imageBox{

    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;

}
.imageBox > img{
    height: auto;
    width: 50%;

}

.content{


}