* {
    padding: 0;
    margin: 0;
}


.container {
    height: 100vh;
    width: 100vw;
    background: black;
    display: grid;
    grid-template-areas:
            'nav'
            'content';
    grid-template-rows: 15vh auto;
}

.navbar {
    grid-area: nav;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
    align-items: center;
}

.content {
    overflow-y: scroll;
    grid-area: content;
    display: flex;
    margin: 0 1em 0 1em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1 {
    color: white;
}

.prfCard {
    margin-bottom: 1em;
    background: floralwhite;
    border-radius: 1em;
    width: 30vw;
    height: 30vh;
    display: grid;
    grid-template-areas:
            'img info';
    grid-template-columns: 1fr 2fr;
}

.prfImg {
    grid-area: img;
    border-right: 1px solid black;
    background-image: url("logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.prfInfo {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*align-items: center;*/
    padding: 0 1vw 0 1vw;
}

.lang {
    color: white;
}

.addInfoCard {
    border-radius: 1em;
    height: 30vh;
    width: 40vw;
    background: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;

}

.MyForm {
    border-radius: 1em;
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em 1em 0 1em;
    background: antiquewhite;
}

.MyForm > label {
    margin: 0 0 .5em 0;


}

.border {
    border-bottom: 1px solid goldenrod;
    width: 20vw;
}

.MyForm > input {
    margin-top: 1em;
    width: 25vw;
}

.MyForm > button {
    margin: 1em 0 0 0;
    width: 20vw;
}

.MovieCard {
    height: 50vh;
    width: 15vw;
    background: white;
    border-radius: .5em;
    display: grid;
    grid-template-areas:
            'title'
            'poster'
            'rate';
    grid-template-rows: 2.5vh 45vh 1vh;
}

.MovieCard > img {
    height: fit-content;
    width: 15vw;
    grid-area: poster;

}
.MovieTitle{
    /*color: white;*/
    grid-area: title;
    text-align: center;
}
.MovieRate{
    /*color: white;*/
    grid-area: rate;

    display: flex;
    justify-content: center;
    align-items: center;
}
